{% extends 'base.html.twig' %}

{% block title %}RGPD - Mon Carnet De Recette{% endblock %}

{% block body %}

<h1>Règlement Général sur la Protection des Données (RGPD) de Mon Carnet de Recette</h1>
<p><strong>Dernière mise à jour : 14/10/2023</strong></p>

<h2>1. Introduction</h2>
<p>La présente politique relative au RGPD explique comment "Mon Carnet de Recette" collecte, utilise et protège vos données personnelles. Nous nous engageons à traiter vos données conformément au RGPD et à assurer leur protection.</p>

<h2>2. Collecte des données</h2>
<p>Nous collectons des informations que vous nous fournissez directement lors de l'inscription, tels que votre nom et adresse e-mail. De plus, nous recueillons des informations de manière automatique à propos de votre utilisation de notre service, comme les informations de navigation via des cookies.</p>

<h2>3. Utilisation des données</h2>
<p>Vos données sont utilisées pour vous fournir nos services, améliorer notre site, communiquer avec vous et à des fins statistiques.</p>

<h2>4. Conservation des données</h2>
<p>Vos données sont conservées pour la durée nécessaire à la fourniture de nos services et pour respecter nos obligations légales.</p>

<h2>5. Vos droits</h2>
<p>Conformément au RGPD, vous avez le droit d'accéder, de rectifier, de supprimer vos données, de vous opposer à leur traitement et de demander la limitation de leur utilisation. Vous pouvez exercer ces droits en nous contactant à l'adresse <a href="mailto:equipe@MCDR.fr">equipe@MCDR.fr</a>.</p>

<h2>6. Sécurité</h2>
<p>Nous avons mis en place des mesures de sécurité pour protéger vos données contre toute perte, utilisation inappropriée ou accès non autorisé.</p>

<h2>7. Partage des données</h2>
<p>Nous ne partageons, ne vendons et ne divulguons pas vos données personnelles à des tiers, sauf si cela est nécessaire pour fournir nos services ou si la loi nous y oblige.</p>

<h2>8. Contact</h2>
<p>Pour toute question relative à cette politique RGPD ou à vos données, n'hésitez pas à nous contacter à <a href="mailto:equipe@MCDR.fr">equipe@MCDR.fr</a>.</p>

{% endblock %}

