{% extends 'base.html.twig' %}


{% block body %}
	{% block navbar %}
		{% include 'includes/navbar.html.twig' %}
	{% endblock %}
	<section class="background-section w-100 vh-100 flex-column d-flex justify-content-center align-items-center text-center">
		<div class="container-fluid h-100 custom-bg">
			<div class="jumbotron p-2 d-flex flex-column justify-content-center align-items-center h-100">
				<h1 class="display-9">Bienvenue sur Mon Carnet de Recettes !</h1>
				<p class="lead">Mon Carnet de Recettes est une application qui va te permettre de créer des recettes que tu auras toi-même créées. Tu pourras partager tes recettes avec la communauté du site, ou bien les garder privées.</p>
				<hr class="my-4">
				<p>Si tu as déjà un compte, tu peux te connecter en cliquant sur le bouton se connecter.</p>
				<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
				<a class="btn btn-primary btn-lg m-4" href="/register" role="button">S'inscrire</a>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row mt-3 text-center">
				<h1 class="mt-5">Découvrez un trésor de saveurs et de délices en un seul endroit, notre site regroupe toutes vos recettes favorites pour vous offrir une expérience culinaire inégalée. Explorez, cuisinez et savourez l'art de la gastronomie sur un seul et même site !</h1>
			</div>
			<div class="mx-auto col-lg-6 pb-1"></div>
		</div>
		<div class="container pt-4 pb-5">
			<div class="row text-center g-5 lh-1 pb-5">

				<div class="col-md-4 col-sm-12">
					<img class="illustration-img-home pb-3" src=" assets/images/chef.svg " alt="depot d'annoce">
					<h4 class="text-muted">Le chef s'active 🍳</h4>
					<p>Laissez votre créativité culinaire s'épanouir alors que vous plongez dans une mer de réflexion pour donner naissance à une nouvelle idée recette qui éveillera les papilles et repoussera les frontières du goût.</p>
				</div>

				<div class="col-md-4 col-sm-12">
					<img class="illustration-img-home pb-3" src=" assets/images/cuisiner.svg " alt="Contact par message">
					<h4 class="text-muted">Cuisinez maintenant 🍴</h4>
					<p>Explorez de nouveaux horizons gustatifs en utilisant notre site web comme votre guide culinaire personnel. Ensemble, nous concrétiserons vos réflexions en une délicieuse recette qui fera danser les saveurs et émerveillera les sens.</p>
				</div>
				<div class="col-md-4 col-sm-12">
					<img class="illustration-img-home pb-3" src=" assets/images/manger.svg " alt="Remise d'objet">
					<h4 class="text-muted">Dégustez 🍽️</h4>
					<p>Le moment tant attendu est enfin là : savourez chaque bouchée de votre création culinaire avec une explosion de saveurs qui récompense vos réflexions et votre travail. Bon appétit !</p>
				</div>
			</div>
		</div>
	</section>
	{% block footer %}
		{% include 'includes/footer.html.twig' %}
	{% endblock %}

{% endblock %}
