{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation - Mon Carnet De Recette{% endblock %}

{% block body %}

<h1>Conditions Générales d'Utilisation de Mon Carnet de Recette</h1>
<p><strong>Dernière mise à jour : 14/10/2023</strong></p>

<h2>1. Acceptation des Conditions Générales d'Utilisation</h2>
<p>En accédant ou en utilisant "Mon Carnet de Recette", vous acceptez de vous conformer à ces Conditions Générales d'Utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.</p>

<h2>2. Description du service</h2>
<p>"Mon Carnet de Recette" est une plateforme en ligne permettant aux utilisateurs de consigner, explorer et partager des recettes culinaires.</p>

<h2>3. Inscription et compte utilisateur</h2>
<p>L'inscription est nécessaire pour accéder à certaines fonctionnalités. Les utilisateurs sont responsables de la confidentialité de leurs identifiants et mots de passe, ainsi que de toute activité sous leur compte.</p>

<h2>4. Utilisation acceptable</h2>
<p>Les utilisateurs s'engagent à ne pas utiliser "Mon Carnet de Recette" pour publier, partager ou transmettre des contenus illégaux, diffamatoires, harcelants, offensants ou de toute autre nature inappropriée.</p>

<h2>5. Contenu publié par les utilisateurs</h2>
<p>Les utilisateurs restent les propriétaires du contenu qu'ils publient. Toutefois, en partageant une recette ou un contenu, l'utilisateur accorde à "Mon Carnet de Recette" une licence d'utilisation, de reproduction, de modification et de diffusion dudit contenu.</p>

<h2>6. Limitation de responsabilité</h2>
<p>"Mon Carnet de Recette" ne saurait être tenu responsable des erreurs, inexactitudes ou omissions présentes sur le site, ni de dommages résultant de l'utilisation du site.</p>

<h2>7. Cookies</h2>
<p>Nous utilisons des cookies pour améliorer votre expérience utilisateur. En utilisant notre site, vous acceptez l'utilisation de cookies conformément à notre politique de confidentialité.</p>

<h2>8. Modification des Conditions Générales d'Utilisation</h2>
<p>Nous nous réservons le droit de modifier ces conditions à tout moment. Les modifications prendront effet dès leur publication sur notre site.</p>

<h2>9. Contact</h2>
<p>Pour toute question concernant ces conditions, veuillez nous contacter à <a href="mailto:equipe@MCDR.fr">equipe@MCDR.fr</a>.</p>

{% endblock %}


